@model List<mediatori.Models.MenuElement>
@{
    ViewBag.Title = "Anagrafiche";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Anagrafiche</h2>



@{Html.RenderPartial("_BoxMenu", Model);}




