@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";
}

<h2>Index</h2>


<ul data-role="listview" data-inset="true">
    <li><a href="@Url.Action("Tabs", "Test")">Tabs</a></li>
    
</ul>