@model mediatori.Models.Anagrafiche.SoggettoGiuridico
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Nuova Societa'</h2>

@using (Html.BeginForm("Create", "SoggettoGiuridico", FormMethod.Post, new { @id = "createForm" }))
{
    Html.ValidationSummary();

    Html.HiddenFor(model => model.id);

    <h3>Dati societa'</h3>
    <hr />
    Html.RenderPartial("~/Views/SoggettoGiuridico/SoggettoGiuridicoPartialEdit.cshtml", new mediatori.Models.Anagrafiche.SoggettoGiuridico());

    <h3>Indirizzi</h3>
    <hr />
    using (Html.BeginCollectionItem("indirizzi"))
    {
        foreach (mediatori.Models.Anagrafiche.Indirizzo i in Model.indirizzi)
        {
            Html.RenderAction("indirizzoPartial", "Indirizzo", new { indirizzo = i, tipoAzione = "INSERIMENTO" });
        }
    }



    <h3>Riferimenti</h3>
    <hr />
    Html.RenderAction("riferimentoPartial", "Riferimento", new { riferimento = new mediatori.Models.Anagrafiche.Riferimento(), tipoAzione = "INSERIMENTO" });

    <h3>Note</h3>
    <hr />
    { Html.RenderPartial("~/Views/Nota/NotaPartialEdit.cshtml", new mediatori.Models.Nota()); }


    <div data-role="footer" data-position="fixed" data-theme="b">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a></li>
                <li><input type="submit" value="Salva" id="Nuovo" data-inline="true" data-mini="true" /></li>
            </ul>
        </div>
    </div>
}



