@model mediatori.Models.Anagrafiche.SoggettoGiuridico
@{Layout = null;}

<div class="editor-label">
    @Html.LabelFor(model => model.ragioneSociale)
    <div>@Html.DisplayFor(model => model.ragioneSociale)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.codiceFiscale)
    <div>@Html.DisplayFor(model => model.codiceFiscale)</div>
</div>
