@model mediatori.Models.Anagrafiche.SoggettoGiuridico

<div class="editor-control">
    @Html.MyInputType(p => p.ragioneSociale)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.codiceFiscale)
</div>
