<?xml version="1.0" encoding="utf-8"?>

<!-- Per ulteriori informazioni sull'utilizzo della trasformazione Web.config, visitare il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di 
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    individua un attributo "name" con valore "MyDB".
      -->
    <connectionStrings>
      <add name="DefaultConnection"
       connectionString="Data Source=tcp:yacvsl866j.database.windows.net,1433;Initial Catalog=Mediatori;User ID=mediatori@yacvsl866j;Password=M3d14t0r1"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <add name="AzureStorageConnection"
       connectionString="DefaultEndpointsProtocol=https;AccountName=mediatori;AccountKey=gkw9+H0vAiVOW73BUdGRyc3XrARTR3WRWjaeSR4Zdy6Hhpe7BMkEDMJZLLYPE48FQaSYjiV2KzXuu2AsDH90nw=="
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera 
      sezione <customErrors> del file Web.config.
      Poiché è presente un'unica sezione customErrors nel 
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>