h3 {
    color: #718E3E;
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 2px;
}

.h3Link {
    color: #637A05;
    font-weight: bold;
    float: right;
    margin-left: 2px;
    cursor: pointer;
    cursor: hand;
}

table.MyTable {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

/*
fieldset {
    border: 1px solid lightgray;
}


.buttonCollapse {
    display: inline-block;
    color: #637A05;
    font-weight: bold;
    float: right;
    text-decoration: none;
    margin-left: 2px;
    display: none;
    cursor: pointer;
    cursor: hand;
}

.buttonModifica {
    color: #637A05;
    font-weight: bold;
    float: right;
    letter-spacing: -1.1px;
    margin-left: 2px;
    display: none;
    cursor: pointer;
    cursor: hand;
}

.buttonSalvaModifica {
    color: #637A05;
    font-weight: bold;
    float: right;
    letter-spacing: -1.1px;
    display: none;
    margin-left: 2px;
    cursor: pointer;
    cursor: hand;
}

.buttonAnnullaModifica {
    color: #637A05;
    font-weight: bold;
    float: right;
    letter-spacing: -1.1px;
    display: none;
    margin-left: 2px;
    cursor: pointer;
    cursor: hand;
}*/









.editor-label {
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    border: 0px solid gray;
}

    .editor-label label {
        width: 130px;
        float: left;
        font-weight: bold;
    }

    .editor-label input {
        width: 150px;
    }

    .editor-label div {
        display: inline-block;
        width: 160px;
        vertical-align: middle;
        margin-left: 5px;
    }

    .editor-label select {
        width: 100px;
        overflow: hidden;
    }

    .editor-label span {
        color: #990033;
    }






.canvas-flex {
    display: inline-flexbox;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
}


    .canvas-flex div a, .canvas-flex div a:visited {
        color: black;
        text-decoration:none;
    }
    .canvas-flex div a:hover{
 text-decoration:underline;
 color:lightgray;
    }
    .canvas-flex .box {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin: 10px;
        width: 150px;
        height: 150px;
        background-color: lightgray;
        display: table;
    }

        .canvas-flex .box p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-shadow:none;
          font-weight:normal;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }





#headerSegnalazioni {
    display: block;
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
    font-size: 20px;
    color: white;
}
