<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mediatori.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mediatori.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mediatori</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mediatori</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureStorageConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="utenti" Order="3" Enabled="False">
          <Destination Path="DefaultEndpointsProtocol=https;AccountName=mediatori;AccountKey=gkw9+H0vAiVOW73BUdGRyc3XrARTR3WRWjaeSR4Zdy6Hhpe7BMkEDMJZLLYPE48FQaSYjiV2KzXuu2AsDH90nw==" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=Mediatori;Integrated Security=True;Connect Timeout=900" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\utenti_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.\SQLEXPRESS;database=Mediatori;Integrated Security=true;Connection Timeout=900;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="DefaultEndpointsProtocol=https;AccountName=mediatori;AccountKey=gkw9+H0vAiVOW73BUdGRyc3XrARTR3WRWjaeSR4Zdy6Hhpe7BMkEDMJZLLYPE48FQaSYjiV2KzXuu2AsDH90nw==" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mediatori.Models.MainDbContext, DataModel" MigrationConfiguration="DataModel.Migrations.Configuration, DataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>DefaultEndpointsProtocol=https;AccountName=mediatori;AccountKey=gkw9+H0vAiVOW73BUdGRyc3XrARTR3WRWjaeSR4Zdy6Hhpe7BMkEDMJZLLYPE48FQaSYjiV2KzXuu2AsDH90nw==</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)utenti-Web.config Connection String">
      <ParameterValue>DefaultEndpointsProtocol=https;AccountName=mediatori;AccountKey=gkw9+H0vAiVOW73BUdGRyc3XrARTR3WRWjaeSR4Zdy6Hhpe7BMkEDMJZLLYPE48FQaSYjiV2KzXuu2AsDH90nw==</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>