<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PccImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://creditolab-atlantide-collaudo.techub.lan:8080/PccWS/PccImpl"
                binding="basicHttpBinding" bindingConfiguration="PccImplServiceSoapBinding"
                contract="PccWS.IPccWS" name="PccImplPort" />
        </client>
    </system.serviceModel>
</configuration>