@model mediatori.Models.IndirizziModel
@{
    Layout = null;

    string actionName = "";

    if (Model.contattoId != null)
    {
        actionName = "CreateForPersonaFisica";
    }
    else if (Model.soggettoGiuridicoId != null)
    {
        actionName = "CreateForSoggettoGiuridico";
    }
}

<script type="text/javascript">
    $(document).on("pageinit", function () {
             
        $("#linkNuovoIndirizzo").click(function () {
            initIndirizzoPartialEdit();
            $("#divNuovoIndirizzo").show();
        })

    });
</script>

<h3>Indirizzi <strong class="h3Link" id="linkNuovoIndirizzo" title="Aggiungi un indirizzo">[ + ]</strong></h3>
<hr />
<div id="divNuovoIndirizzo" style="display: none">
    @using (Html.BeginForm(actionName, "Indirizzo", FormMethod.Post, new { id = "novoIndirizzo" }))
    {
        <input type="hidden" name="codiceSoggettoGiuridico" value="@Model.soggettoGiuridicoId" />
        <input type="hidden" name="codiceId" value="@Model.contattoId" />

        { Html.RenderPartial("~/Views/Indirizzo/IndirizzoPartialEdit.cshtml", new mediatori.Models.Anagrafiche.Indirizzo()); }

        <div data-role="controlgrup" data-type="horizontal">
            <input data-mini="true" data-inline="true" type="submit" value="Salva" />
            <input data-mini="true" data-inline="true" type="button" value="Annulla" onclick='$("#divNuovoIndirizzo").hide()' />
        </div>
    }
</div>

@if (Model.indirizzi != null && Model.indirizzi.Count > 0)
{
    foreach (mediatori.Models.Anagrafiche.Indirizzo i in Model.indirizzi)
    {

        Html.RenderPartial("~/Views/Indirizzo/IndirizzoDetail.cshtml", i);
    }
}


