@model mediatori.Models.Anagrafiche.Indirizzo
@{

    Layout = null;
    
    mediatori.helper.FireAntDetailEventDetection faDetailEventDetection = new mediatori.helper.FireAntDetailEventDetection("Ind", Model.id);
    mediatori.helper.FireAntEditHelper editHelper = new mediatori.helper.FireAntEditHelper("Ind", Url.Action("IndirizzoPartialById", "Indirizzo"), Model.id.ToString());
}

<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
        <h2>@Html.Raw(editHelper.getButtonModificaV2("", "initIndirizzoPartialEdit();")) @Html.Raw(editHelper.getButtonAnnullaModifica())  Indirizzo #@Model.id</h2>
    </div>

    <div class="ui-body ui-body-a">
        <div id="@faDetailEventDetection.getIdFullDetail()">
            @{Html.RenderPartial("~/Views/Indirizzo/IndirizzoPartialDetail.cshtml", Model);}
        </div>
    </div>
</div>
