@model mediatori.Models.Anagrafiche.Indirizzo
@{
    Layout = null;

    string btnAnnulla = "IndbtnAnnulla" + Model.id.ToString();
    string formId = "IndForm" + Model.id.ToString();
}

@using (Html.BeginForm("Update", "Indirizzo", FormMethod.Post, new { id = formId }))
{
    <input type="hidden" name="codiceId" value="@Model.id" />
    
    { Html.RenderPartial("~/Views/Indirizzo/IndirizzoPartialEdit.cshtml", Model); }

    <div data-role="controlgrup" data-type="horizontal">
        <input type="submit" data-mini="true" data-inline="true" value="Salva" />
        <input type="button" data-mini="true" data-inline="true" value="Annulla" onclick='$("#@btnAnnulla").trigger("click");' />
    </div>
}

