@model mediatori.Models.Anagrafiche.Agenzia

@{
    Layout = null;

    string btnAnnulla = "AgebtnAnnulla" + Model.id.ToString();
}

@using (Html.BeginForm("Edit", "Agenzia", FormMethod.Post))
{


    { Html.RenderPartial("~/Views/Agenzia/AgenziaPartialEdit.cshtml", Model); }

    <div data-role="controlgrup" data-type="horizontal">
        <input type="submit" data-mini="true" data-inline="true" value="Salva" />
        <input type="button" data-mini="true" data-inline="true" value="Annulla" onclick='$("#@btnAnnulla").trigger("click");' />
    </div>
}
