<div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Configurazioni")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna al menu delle configurazioni</a></li>
        </ul>
    </div>
</div>

