@model mediatori.Models.ConsensoPrivacyModel
@{
    Layout = null;
}

@if (Model.consensiPrivacy != null && Model.consensiPrivacy.Count > 0)
{
    <h3>Privacy</h3>
    <hr />

    <ul data-role="listview" data-inset="true">
        @foreach (mediatori.Models.Anagrafiche.ConsensoPrivacy c in Model.consensiPrivacy)
        {
            if (c.acconsento != null)
            {
                Html.RenderPartial("~/Views/ConsensoPrivacy/ConsensoPrivacyPartialDetail.cshtml", c);
            }
        }
    </ul>
}


