@model List<mediatori.Models.Anagrafiche.ConsensoPrivacy>
@{
    Layout = null;
}
@foreach (mediatori.Models.Anagrafiche.ConsensoPrivacy consensoPrivacy in (List<mediatori.Models.Anagrafiche.ConsensoPrivacy>)Model)
{
    <div class="ui-body ui-body-a">
        @{Html.RenderPartial("~/Views/ConsensoPrivacy/ConsensoPrivacyPartialEdit.cshtml", consensoPrivacy);}
    </div>
}


