@model mediatori.Models.Anagrafiche.ConsensoPrivacy
@{

    Layout = null;
}

<div class="ui-body ui-body-a">
        @{Html.RenderPartial("~/Views/ConsensoPrivacy/ConsensoPrivacyPartialDetail.cshtml", Model);}
</div>