@model mediatori.Models.Anagrafiche.ConsensoPrivacy
@{
    Layout = null;
}

<li data-icon="false">
    <a href="#">
        <p class="ui-li-aside"><strong>@Model.untenteInserimento</strong> - @Model.dataInserimento.ToShortDateString()</p>
        <h2>@Model.tipoConsensoPrivacy.descrizione</h2>   
            @if (Model.acconsento == true)
            {
                <h3 style="color:green;">Acconsento</h3>
            }
            else
            {
                <h3 style="color:red;">Non acconsento</h3>
            }
    </a>
</li>
