@model mediatori.Models.Pratica.Pratica
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h1>Dettaglio pratica: @Model.cedente.nome  @Model.cedente.cognome</h1>


@{Html.RenderPartial("~/Views/Contatto/_Contatto.cshtml", Model);}


<br />
<!-- preventivo -->
@{Html.RenderAction("DetailsFromPratica", "Preventivo", new { praticaId = Model.id });}
<!-- /preventivo -->


@{Html.RenderAction("Details", "Indirizzo", new { cedenteId = Model.cedente.id });}

@{Html.RenderAction("Details", "DocumentoIdentita", new { cedenteId = Model.cedente.id });}

@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.cedente.id });}

<!-- riferimento -->
@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.contatto.id });}
<!-- /riferimento -->

<!-- documenti -->
@{Html.RenderAction("DetailsFromPratica", "Documentale", new { praticaId = Model.id });}
<!-- /documenti -->

@{Html.RenderPartial("~/Views/Nota/_Note.cshtml", new mediatori.Models.NoteModel() { note = Model.note, segnalazioneId = Model.id });}



<div data-role="footer" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Pratiche")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle pratiche</a></li>
        </ul>
    </div>
</div>