@model mediatori.Models.RiferimentiModel
@{
    Layout = null;
    //SOLO Visualizzazione
    //NON è possibile fare modifiche

    //viene utilizzata in fase di creazione di una segnalazione per un contatto già esistente!

}

<h3>Riferimenti</h3>
<hr />
@if (Model.riferimenti != null)
{
    foreach (mediatori.Models.Anagrafiche.Riferimento riferimento in Model.riferimenti)
    {
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h2>Riferimento #@riferimento.id</h2>
            </div>

            <div class="ui-body ui-body-a">
                @{Html.RenderPartial("~/Views/Riferimento/RiferimentoPartialDetail.cshtml", riferimento);}
            </div>
        </div>
    }
}

