@model mediatori.Models.Anagrafiche.Riferimento
@{
    Layout = null;

    string btnAnnulla = "RifbtnAnnulla" + Model.id.ToString();
    string formId = "RifForm" + Model.id.ToString();
}

@using (Html.BeginForm("Update", "Riferimento", FormMethod.Post,  new { id = formId }))
{
    <input type="hidden" name="codiceRiferimento" value="@Model.id" />

    { Html.RenderPartial("~/Views/Riferimento/RiferimentoPartialEdit.cshtml", Model); }

    <div data-role="controlgrup" data-type="horizontal">
        <input type="submit" data-mini="true" data-inline="true" value="Salva" />
        <input type="button" data-mini="true" data-inline="true" value="Annulla" onclick='$("#@btnAnnulla").trigger("click");' />
    </div>
}
