@model mediatori.Models.Anagrafiche.Riferimento
@{

    Layout = null;

    mediatori.helper.FireAntDetailEventDetection faDetailEventDetection = new mediatori.helper.FireAntDetailEventDetection("Rif", Model.id);
    mediatori.helper.FireAntEditHelper editHelper = new mediatori.helper.FireAntEditHelper("Rif", Url.Action("RiferimentoPartialById", "Riferimento"), Model.id.ToString());
}

<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
        <h2>@Html.Raw(editHelper.getButtonModificaV2()) @Html.Raw(editHelper.getButtonAnnullaModifica())  Riferimento #@Model.id  </h2>
    </div>

    <div class="ui-body ui-body-a">
        <div id="@faDetailEventDetection.getIdFullDetail()">
            @{Html.RenderPartial("~/Views/Riferimento/RiferimentoPartialDetail.cshtml", Model);}
        </div>
    </div>
</div>