@model mediatori.Models.Anagrafiche.Riferimento
@{

    Layout = null;
}

<div class="display-control">
    @MyHelper.MyDisplay(() => Model.tipoRiferimento.descrizione)
</div>

<div class="display-control">
    @MyHelper.MyDisplay(() => Model.valore)
</div>
