@model mediatori.Models.Anagrafiche.Riferimento
@{
    Layout = null;
}

<div class="editor-control">
    @Html.Label(Model.tipoRiferimento.descrizione)
    <div>@Html.DisplayFor(m => m.valore)</div>
</div>
<div class="buttonModifica">[ M ]</div>







