
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Button</h2>

<button id="box_1" class="ui-btn ui-btn-d ui-corner-all ui-shadow" style="width:150px; height:150px;">Prova</button>

<button id="box_2" class="ui-btn ui-btn-d ui-corner-all ui-shadow" style="width:150px; height:150px; white-space: normal ;text-overflow:clip;">Prova Prova Prova Prova Prova Prova</button>
