@model mediatori.Models.ContattoDetailsModel
@{
    Layout = null;

    mediatori.helper.FireAntDetailEventDetection edContatto = new mediatori.helper.FireAntDetailEventDetection("Cnt", Model.contatto.id);
    mediatori.helper.FireAntEditHelper editHelperContatto = new mediatori.helper.FireAntEditHelper("Cnt", Url.Action("ContattoPartialById", "Contatto"), Model.contatto.id.ToString());

    string label;

    if (Model.isCedente)
    {
        label = "Cedente";

    }
    else
    {
        label = "Contatto";
    }
}


<h3>@label  @Html.Raw(editHelperContatto.getButtonModifica("", "initContattoEdit();")) @Html.Raw(editHelperContatto.getButtonAnnullaModifica())</h3>
<hr />
<div id="@edContatto.getIdFullDetail()">
    @{Html.RenderPartial("~/Views/Contatto/ContattoPartialDetail.cshtml", Model.contatto);}
</div>

