@model mediatori.Models.Anagrafiche.Contatto
@{
    mediatori.helper.FireAntDetailEventDetection edContatto = new mediatori.helper.FireAntDetailEventDetection("Cnt", Model.id);
    mediatori.helper.FireAntEditHelper editHelperContatto = new mediatori.helper.FireAntEditHelper("Cnt", Url.Action("ContattoPartialById", "Contatto"), Model.id.ToString());
}

<h3>Contatto  @Html.Raw(editHelperContatto.getButtonModifica("", "initContattoEdit();")) @Html.Raw(editHelperContatto.getButtonAnnullaModifica())</h3>
<hr />
<div id="@edContatto.getIdFullDetail()">
    @{Html.RenderPartial("~/Views/Contatto/ContattoPartialDetail.cshtml", Model);}
</div>

