@model mediatori.Models.ContattoDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h1>Contatto: @Model.contatto.cognome @Model.contatto.nome</h1>

@{Html.RenderPartial("~/Views/Contatto/_Contatto.cshtml", Model);}


@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.contatto.id });}


@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.contatto.id });}

<br />
<div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista dei contatti</a></li>
        </ul>
    </div>
</div>

