@model mediatori.Models.ChangeEmailModel
@{
    ViewBag.Title = "ChangeEmail";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h1>Modifica indirizzo email</h1>

<div data-role="controlgrup" data-type="horizontal">
    <a href="@Url.Action("Manage", "Account")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
</div>