@model MyUsers.Models.MyUser

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-c">Cliente:</div>
        <div class="ui-bar ui-bar-c">Codice fiscale:</div>
        <div class="ui-bar ui-bar-c">Data di nascita:</div>
        <div class="ui-bar ui-bar-c">Sesso:</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-body-a">@((Model.Customer == null || String.IsNullOrEmpty(Model.Customer.ragioneSociale)) ? "N/A" : Model.Customer.ragioneSociale)</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.codiceFiscale)</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.dataDiNascita)</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.sesso)</div>
    </div>
</div>
