@model mediatori.Models.Anagrafiche.AmministrazioneCreateModel
@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Nuova amministrazione</h2>

@using (Html.BeginForm("Create", "Amministrazione", FormMethod.Post, new { @id = "createForm" }))
{
    Html.ValidationSummary(true);

    Html.HiddenFor(p => p.amministrazione.id);

    <h3>Dati Amministrazione</h3>
    <hr />

    @Html.EditorFor(p => p.soggettoGiuridico);

    @Html.EditorFor(p => p.amministrazione);



    <h3>Indirizzi</h3>
    <hr />
    { Html.RenderAction("Create", "Indirizzo", new { indirizzo = Model.indirizzo }); }

    <h3>Riferimenti</h3>
    <hr />
    { Html.RenderAction("Create", "Riferimento", new { riferimento = Model.riferimento }); }

    <h3>Note</h3>
    <hr />
    { Html.RenderAction("Create", "Nota", new { nota = Model.nota }); }


    <div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a></li>
                <li><input type="submit" value="Salva" data-inline="true" data-mini="true" /></li>
            </ul>
        </div>
    </div>
}
